﻿@page "/fetchdata"

@using WebBlazorExamen.Data
@using Microsoft.WindowsAzure.Storage;
@using Microsoft.WindowsAzure.Storage.Table;
@using System.Threading.Tasks;
@using System.Linq;
@using System.Collections.Generic;

@inject WeatherForecastService ForecastService


<div class="conteiner mx-auto">
    <div class="row">
        <div class="card col-md-12">
            <div class="card-header">
                <h1 class="text-md-center">Control de inventario de Carnes</h1>
                <img src="/img/inventario.png" class="rounded mx-auto d-block" width="150px" />
                <div class="card-body">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Imagen Carne</th>
                                <th>Nombre Provedor</th>
                                <th>Nombre Carne</th>
                                <th>Fecha de Caducidad</th>
                                <th>Precio</th>
                                <th>Existencias</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Carnes c in ListaCarnes)
                            {
                            <tr>
                                <td><img src="@c.Imagen" width="100px" height="100px" /></td>
                                <td>@c.Nombre_Provedor</td>
                                <td>@c.RowKey</td>
                                <td>@c.Fecha_Cad</td>
                                <td>@c.Precio</td>
                                <td>@c.No_Existencias</td>
                            </tr>
                            }
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    List<Carnes> ListaCarnes = new List<Carnes>();
    List<elementosdelaTabla> ElementosTabla = new List<elementosdelaTabla>();
    string elementoImagen;
    protected override async Task OnInitializedAsync()
    {
        //Cambiar Cadena de conexion;
        var CuentaAlmacenamiento = CloudStorageAccount.Parse
        ("");
        var TablaNoSql = CuentaAlmacenamiento.CreateCloudTableClient();
        //Cambiar nombre de la tabla si no es la misma
        var Tabla = TablaNoSql.GetTableReference("Carnes");
        var consulta = new TableQuery<Carnes>();
        TableContinuationToken token = null;
        try
        {
            var Datos = await Tabla.ExecuteQuerySegmentedAsync<Carnes>
                (consulta, token, null, null);
            ListaCarnes.AddRange(Datos.Results);
            int iNombre_provedor = 0;
            int iNombre_carne = 0;
            int iImagen = 0;
            int iFechaCad = 0;
            int iPrecio = 0;
            int iNo_existencia = 0;
            ElementosTabla = ListaCarnes.Select(r => new elementosdelaTabla()
            {
                Nombre_Carne = ListaCarnes.ElementAt(iNombre_carne++).RowKey,
                Nombre_Provedor = ListaCarnes.ElementAt(iNombre_provedor++).Nombre_Provedor,
                Fecha_Cad = ListaCarnes.ElementAt(iFechaCad++).Fecha_Cad,
                precio = ListaCarnes.ElementAt(iPrecio++).Precio,
                No_Existencias = ListaCarnes.ElementAt(iNo_existencia++).No_Existencias,
                Imagen = ListaCarnes.ElementAt(iImagen++).Imagen


            }).ToList();

        }
        catch (Exception)
        {

            throw;
        }
    }

    public class Carnes : TableEntity
    {
        public Carnes(string categoria, string nombre)
        {
            PartitionKey = categoria;
            RowKey = nombre;
        }
        public Carnes()
        {

        }

        public string Nombre_Provedor { get; set; }
        public string Fecha_Cad { get; set; }
        public string Precio { get; set; }
        public string No_Existencias { get; set; }
        public string Imagen { get; set; }

    }
    public class elementosdelaTabla
    {
        public string Nombre_Carne { get; set; }
        public string Nombre_Provedor { get; set; }
        public string Fecha_Cad { get; set; }
        public string precio { get; set; }
        public string No_Existencias { get; set; }
        public string Imagen { get; set; }
    }
}