﻿@page "/"

<div class="container mx-auto">
    <div class="text-md-center">
        <h1 class="">Control de inventario de Carnes</h1>
        <p class="">
            <h3>
                En la siguiente pestaña de "Inventario" encontraras información almacenada acerca de los productos de carnes que contamos.
            </h3>
        </p>
        <img src="/img/inventario.png" class="rounded mx-auto d-block"/>
    </div>
</div>